# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
*.spec
.venv/
venv/

# PyQt
*.qmlc
*.jsc

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Project specific
compilers/
docs/
*.exe
*.dll

# Test projects
CppLabProjects/
test_project/
